html{
    font-size: 62.5%;
}
body{
    background-color: burlywood;
}
img{
    max-width: 100%;
    height: 300px;
}
div{
    text-align: center;
}
a{
    display: inline;
    background-color: blue;
    color: antiquewhite;
    

}
.titulos{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
p{
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#botão{
    margin-top: 5rem;
    
}